<div id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <img src="../../../assets/Bazarte_Logo_Min.jpg" alt="Bazarte Logo" class="nav-bar-logo">
      <div id="nav-bar-links">
        <a href="#" class="nav-bar-link">About Us</a>
        <a href="#" class="nav-bar-link">Empresas</a>
        <a href="#" class="nav-bar-link">Eventos</a>
      </div>
    </div>
    <div id="nav-bar-right">
      <button (click)="onAccessClick()" class="nav-bar-button">Acceder</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-column">
    <h4>Use cases</h4>
    <ul>
      <li>UI design</li>
      <li>UX design</li>
      <li>Wireframing</li>
      <li>Diagramming</li>
      <li>Brainstorming</li>
      <li>Online whiteboard</li>
      <li>Team collaboration</li>
    </ul>
  </div>
  
  <div class="footer-column">
    <h4>Explore</h4>
    <ul>
      <li>Design</li>
      <li>Prototyping</li>
      <li>Development features</li>
      <li>Design systems</li>
      <li>Collaboration features</li>
      <li>Design process</li>
      <li>FigJam</li>
    </ul>
  </div>

  <div class="footer-column">
    <h4>Resources</h4>
    <ul>
      <li>Blog</li>
      <li>Best practices</li>
      <li>Colors</li>
      <li>Color wheel</li>
      <li>Support</li>
      <li>Developers</li>
      <li>Resource library</li>
    </ul>
  </div>

  <div class="footer-logo">
    <img src="../../../assets/Bazarte_Logo_Min.jpg" alt="Bazarte Logo">
    <div class="social-icons">
      <a href="https://github.com" target="_blank"><img src="../../../assets/pngegg.png" alt="Github Icon"></a>
    </div>
  </div>
</footer>
